name: Unit Tests
on:
  pull_request:
  push:

jobs:
  test_action_job:
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@v1

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"
      - run: npm install --production

      - run: sudo npm i -g ts-node

      - name: Test
        env:
          INPUT_SCOPE: resourcegroup
          INPUT_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
          INPUT_LOCATION: westeurope
          INPUT_RESOURCEGROUPNAME: azurearmaction
          INPUT_TEMPLATELOCATION: ./test/template.json
          INPUT_PARAMETERS: ./test/parameters.json
          INPUT_OVERRIDEPARAMETERS: ./test/parameters.override.json
          INPUT_DEPLOYMENTNAME: github-test
          INPUT_DEPLOYMENTMODE: Incremental
        run: ts-node test/main.tests.ts